{% extends "base.html" %}

{% block style_additions %}
  <style>
    #main-content {
      text-align: justify !important;
      text-justify: inter-word !important;
      color: rgba(54, 52, 52, 0.847);
    }
  </style>
{% endblock %}

{% block menu %}
  <a class="nav-link" href='http://127.0.0.1:5000/'>Optimize</a>
  <a class="nav-link active" href='http://127.0.0.1:5000/about-us'>About us</a>
  {% if current_user.is_authenticated %}
    <a class="nav-link" href='http://127.0.0.1:5000/login'>Account</a>
    <a class="nav-link" href='http://127.0.0.1:5000/logout'>Log out</a>
  {% else %}
    <a class="nav-link" href='http://127.0.0.1:5000/login'>Log in</a>
  {% endif %}
{% endblock %}

{% block main_content %}
  <div id="main-content">
    <br><br>
    <h5>Genetic algorithm</h5>
    Charles Darwin’s theory is present in IT. Genetic algorithms are inspired by the way population evolves. They have same starting population of solutions (which we call individuals) and through generations these solutions cross with each other and mutate as real-life individuals in population would do. This approach allows optimization of many NP (nondeterministic polynomial time) problems, Max3Sat being one of them. Starting parameters of population influence the way in which individuals interact with other, which is visualized by the achieved results.
    
    <br><br><br>
    <h5>Max3Sat</h5>
    Many business problems can be broke down to Max3Sat. Max3Sat consists of clauses. Each clause is made of three bool variables, which can be negated or not. The clause is satisfed when in clause at least one variable is True or at least one negated variable is False.

    <br><br><br>
    <h5>File with problem</h5>
    Only .txt files with problems are allowed. There are two types of formatting allowed: '( 1 2 -3 )' or '1 2 -3'. Numbers refer to variables' indexes and '-' tell that the variable is negated.
    
    <br><br><br>
    <h5>Size of population</h5>
    Tells how many individuals make population. For example size of population equal 200 means, that there are 200 individuals in this population at each point of simulation. We don't recommend populations bigger than 200 because of computation complexity.
    
    <br><br><br>
    <h5>Number of populations</h5>
    Tells how many parallel populations evolve at the time. For number of populations equal 5 means, that there are 5 separated populations at each point of simulation. We don't recommend more than 5 populations at time because of computation complexity.
    
    <br><br><br>
    <h5>Number of parents considered</h5>
    Tells how many individuals fight with each other to become a parent to new individual. Each individaul (besides starting population) has two parents. If two individuals are considered to become a parent for new solution, wins the one which is a better solution to the problem.

    <br><br><br>
    <h5>Probability of crossover</h5>
    Each pair of parents will have two children. Child1 and Child2 can either be the exact copies of Parent1 and Parent2, or they can be the cross of Parent1 or Parent2 genotypes. This statistic calls how big chances are that genotypes of Parent1 and Parent2 will be crossed.

    <br><br><br>
    <h5>Probability of gene crossover</h5>
    When Parent1 and Parent2 genotypes cross, this statistic tells how probable is that Child1 same as Parent1 will take this peculiar gene from Parent2. The same with Child2.
    
    <br><br><br>
    <h5>Probability of smart mutation</h5>
    As in real life, beside genetic variability coming from cross of genotypes of Parent1 and Parent2, there are some random changes in genotype of the child. This statistic tells how probable is that this changes won't be completely random but will only enhance the quality of solution.
    
    <br><br><br>
    <h5>Probability of gene mutation</h5>
    Tells how probable is that single gene in genotype will be mutated.
    <br><br><br>
  </div>   
{% endblock %}